<template>
  <div class="Shiftschedule">
    <v-tabs align-with-title>
      <v-tab @click="tab=0">新增</v-tab>
      <v-tab @click="tab=1">修改</v-tab>
    </v-tabs>
    <start-schedule v-if="tab===0"/>
    <change-schedule  v-if="tab===1"/>
  </div>
</template>

<script>
import StartSchedule from '../components/StartSchedule';
import ChangeSchedule from '../components/ChangeSchedule';

export default {
  name: 'ShiftSchedule',
  data (){
    return {
      tab:0
    }
  },
  components: {
    StartSchedule, ChangeSchedule
  },
}
</script>
