<template>
  <div class="ChangeSchedule">
    <v-row>
      <v-col cols="2">
        <v-text-field
        class="mt-8"
        type="date"
        v-model="startdate"
        label="选择开始日期"
        width="100"
        hide-details
        ></v-text-field>
      </v-col>
      <v-col cols="2">
        <v-text-field
        class="mt-8"
        type="date"
        v-model="enddate"
        label="选择结束日期"
        hide-details
        ></v-text-field>
      </v-col>
      <v-col cols="2">
        <v-select
        class="mt-8"
        :items="machinelist"
        v-model="machinename"
        label="设备"
        hide-details
        clearable
        ></v-select>
      </v-col>
      <v-col cols="2">
        <v-select
        class="mt-8"
        :items="employeelist"
        v-model="employee"
        label="人员"
        item-text="employeename"
        return-object
        hide-details
        clearable
        ></v-select>
      </v-col>
      <v-col>
        <v-btn color="primary" class="mt-7" @click="getScheduleList">搜索</v-btn>
      </v-col>
    </v-row>
    <v-data-table
      :headers="headers"
      v-model="scheduleselected"
      :items="schedulelist"
      show-select
      item-key="_id"
      :items-per-page="20"
      class="elevation-1 mt-5"
      height="calc(100vh - 400px)">
    </v-data-table>
    <v-row class="mt-5">
      <v-spacer></v-spacer>
      <v-col cols="1">
        <v-btn color="error" :disabled="!scheduleselected.length" @click="handleDelete">删除</v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
// import socketioclient from 'socket.io-client';
import moment from 'moment';
import ServiceFactory from '../service/ServiceFactory';
import { Toast, Dialog } from 'vant';
const { ElementsService } = ServiceFactory;
import { mapMutations } from 'vuex';
const datetimestemp1 = new Date().getTime() + 1000*60*60*24;
const datetimestemp2 = new Date().getTime() + 1000*60*60*24*8;

export default {
  name: 'ChangeSchedule',
  data (){
    return {
      startdate: moment(datetimestemp1).format('YYYY-MM-DD'),
      enddate: moment(datetimestemp2).format('YYYY-MM-DD'),
      machinelist: [],
      employeelist: [],
      scheduleselected: [],
      schedulelist: [],
      machinename: '',
      employeename: '',
      employee: {},
      headers: [
        { text: '日期', value: 'scheduledate' },
        { text: '设备', value: 'machinename' },
        { text: '人员', value: 'employeename' },
      ],
    }
  },
  created() {
    this.getMachieList();
    this.getEmployeeList();
  },
  methods: {
    ...mapMutations({
      setloading: 'helper/SET_lOADING',
    }),
    async getScheduleList() {
      const { startdate, enddate, machinename, employee } = this;
      this.setloading(true);
      let query = `&query=scheduledate>="${startdate}"%26%26scheduledate<="${enddate}"`;
      if (machinename) {
        query = query + `%26%26machinename=="${machinename}"`;
      }
      if (employee.employeeid) {
        query = query + `%26%26employeeid=="${employee.employeeid}"`;
      }
      const { data, status } = await ElementsService.getElement('shiftleaderschedule',13,13,query)
        console.log(data, 'data');
        if (status === 200 && !data.Error) {
          const { results } = data;
          if (results.length > 0) {
            this.schedulelist = results;
          } else {
            this.schedulelist = [];
          }
        } else {
          Toast.fail(this.$t('alert.errorinfo'));
        }
        this.setloading(false);
    },
    async getMachieList() {
      this.setloading(true);
      const { data, status } = await ElementsService.getElement('machine',13,13)
        console.log(data, 'data');
        if (status === 200 && !data.Error) {
          const { results } = data;
          if (results.length > 0) {
            this.machinelist = results.map(item => item.machinename);
          } else {
            this.machinelist = [];
          }
        } else {
          Toast.fail(this.$t('alert.errorinfo'));
        }
        this.setloading(false);
    },
    async getEmployeeList() {
      this.setloading(true);
      const { data, status } = await ElementsService.getElement('employee',13,13)
      console.log(data, 'data');
      if (status === 200 && !data.Error) {
        const { results } = data;
        if (results.length > 0) {
          this.employeelist = results;
        } else {
          this.getEmployeeList = [];
        }
      } else {
        Toast.fail(this.$t('alert.errorinfo'));
      }
      this.setloading(false);
    },
    handleDelete() {
      Dialog.confirm({
        message: '是否删除所有记录',
      }).then(async () => {
        const { scheduleselected } = this;
        const results = await Promise.all(scheduleselected.map((item) => ElementsService.deleteElement('shiftleaderschedule', item._id, 13, 13
        )));
        console.log(results, 'results');
        if (results.every(item => item.data&&item.data.id)) {
          Toast.success('删除成功');
        }
        this.getScheduleList();
      });
    },
  },
}
</script>
