<template>
  <v-app-bar
    app
    height="50"
    width="100%"
  >
    <v-img
      alt="Vuetify Logo"
      class="shrink mr-2"
      contain
      src="../assets/shopworx.png"
      transition="scale-transition"
      width="150"
    />
    <v-spacer></v-spacer>
    <div class="text-h5 text-truncate">{{'OAS排班'}}</div>
    <v-spacer></v-spacer>
    <!-- <v-btn @click="setSetting(true)">
      <v-icon v-text="'mdi-cog-outline'"></v-icon>
      设置
    </v-btn> -->
  </v-app-bar>
</template>

<script>
import moment from 'moment';
import { mapState, mapMutations } from 'vuex';
export default {
  name: 'Header',
  data (){
    return {
      moment
    }
  },
  created() {
    console.log(this.$route.path);
  },
  computed: {
    ...mapState({
      servertime: state => state.helper.servertime,
    }),
  },
  methods: {
    ...mapMutations({
      setSetting: 'helper/SET_SETTING',
    }),
    handleLanguage(val){
      this.$i18n.locale = val;
    },
  }
}
</script>
