<template>
  <v-overlay
      :value="isLoading"
    >
      <v-progress-circular
        :size="100"
        :width="10"
        color="purple"
        indeterminate
        z-index="10"
      >
      loading
      </v-progress-circular>
    </v-overlay>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'Loading',
  data (){
    return {}
  },
  computed: {
    ...mapState({
      isLoading: state => state.helper.isLoading,
    }),
  },
}
</script>
<style lang="scss" scoped>
  .v-overlay--active{
    z-index: 300!important;
  }
</style>
