<template>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="400"
    >
      <v-card>
        <v-card-title class="headline">
          {{$t('common.inputinfo')}}
        </v-card-title>
        <v-card-text>
          <v-row no-gutters>
            <v-col cols="6">
              <div class="form-text">{{$t('labels.customerid')}}:</div>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="customerId"
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="6">
              <div class="form-text">{{$t('labels.userid')}}:</div>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="userId"
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="6">
              <div class="form-text">{{'设备名称'}}:</div>
            </v-col>
            <v-col cols="6">
               <v-autocomplete
                clearable
                label="请选择设备名称"
                :items="machineList"
                v-model="machineid"
                outlined
              >
              </v-autocomplete>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            @click="submit"
            :disabled="!customerId||!userId||!machineid"
          >
            {{$t('buttons.submit')}}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
import ServiceFactory from '../service/ServiceFactory';
import { Toast } from 'vant';
import moment from 'moment';
import { mapState, mapMutations } from 'vuex';
const { ElementsService, CommonService } = ServiceFactory;
let timeout = null;
export default {
  name: 'Setting',
  data (){
    return {
      customerId: localStorage.getItem('customerId') || '',
      userId: localStorage.getItem('userId') || '',
      machineList: ['133', '1802EZM007', '1802EZM008', 'CSSB02', 'CSSB07'],
      machineid: localStorage.getItem('machineid') || '',
    }
  },
  computed: {
    ...mapState({
      isShowSetting: state => state.helper.isShowSetting,
    }),
    dialog: {
      set(val) {
        console.log(val);
        this.setSetting(val);
      },
      get() {
        return this.isShowSetting;
      }
    },
  },
  async mounted() {
    this.init();
    this.$i18n.locale = 'zh';
  },
  methods:{
    ...mapMutations({
      setloading: 'helper/SET_lOADING',
      setSetting: 'helper/SET_SETTING',
      setCustomerId: 'helper/SET_CUSTOMERID',
      setUserId: 'helper/SET_USERID',
      setMachineId: 'helper/SET_MACHINEID',
      setServertime: 'helper/SET_SERVERTIME',
      
    }),
    async init() {
      const {customerId, userId} = this;
      if (customerId && userId) {
        // await this.getServeTime(customerId,userId);
      }
    },
    submit() {
      const { customerId, userId, machineid } = this;
      this.setloading(true);
      ElementsService.getElement('shift',customerId,userId)
      .then((response)=>{
        const { data, status } = response;
        console.log(data, 'data');
        if (status === 200 && !data.Error) {
          this.setSetting(false);
          this.setCustomerId(customerId);
          this.setUserId(userId);
          this.setMachineId(machineid);
          localStorage.setItem('customerId', customerId);
          localStorage.setItem('userId', userId);
          localStorage.setItem('machineid', machineid);
          this.setloading(false);
        } else {
          Toast.fail(this.$t('alert.noid'));
          this.customerId = '';
          this.userId = '';
        }
        this.setloading(false);
      },(error)=>{
        console.log(error);
        Toast.fail(this.$t('alert.errorinfo'));
      });
    },
    getServeTime(customerId, userId) {
      this.setloading(true);
      CommonService.getService('servertime',customerId,userId)
      .then((response)=>{
        const { data, status } = response;
        if (status === 200 && !data.Error) {
          const { results } = data;
          const timedifference = moment().valueOf() - results;
          this.timer(timedifference);
        }
        this.setloading(false);
      },(error)=>{
        console.log(error);
        Toast.fail(this.$t('alert.errorinfo'));
      });
    },
    timer(timedifference) {
      const servertime = moment().valueOf() - timedifference;
      this.setServertime(servertime);
      clearTimeout(timeout)
      timeout = setTimeout(()=>{
          this.timer(timedifference)
      },1000)
    },
  }
}
</script>
<style lang="scss" scoped>
  .form-text{
    font-size: 20px;
    line-height: 60px;
    text-align: center;
  }
</style>
