<template>
  <div class="StartSchedule">
    <v-row>
      <v-col cols="6">
        <v-card class="pa-4" height="calc(100vh - 150px)"> 
          <v-card-title>选择日期范围</v-card-title>
          <v-row>
            <v-col cols="6">
              <v-text-field
              class="mt-8"
              type="date"
              v-model="startdate"
              label="选择开始日期"
              width="100"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
              class="mt-8"
              type="date"
              v-model="enddate"
              label="选择结束日期"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-card class="pa-4">
            <v-row>
              <v-col cols="6">
                <v-card style="height:calc(100vh - 440px);overflow: scroll;">
                  <v-card-title>设备</v-card-title>
                  <v-card-text class="text--primary">
                    <v-checkbox
                      v-for="machine in machinelist"
                      :key="machine"
                      v-model="machinesselected"
                      :label="machine"
                      :value="machine"
                      hide-details
                      dense
                    ></v-checkbox>
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col cols="6">
                <v-card style="height:calc(100vh - 440px);overflow: scroll;">
                  <v-card-title>员工</v-card-title>
                  <v-card-text class="text--primary">
                    <v-checkbox
                      v-for="employee in employeelist"
                      :key="employee.employeeid"
                      v-model="employeesselected"
                      :label="employee.employeename"
                      :value="employee.employeeid"
                      hide-details
                      dense
                    ></v-checkbox>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-card>
          <v-row class="mt-3">
            <v-spacer></v-spacer>
            <v-col cols="2">
              <v-card-actions>
                <v-btn @click="resetCheckbox">重置</v-btn>
              </v-card-actions>
            </v-col>
            <v-col cols="2">
              <v-card-actions>
                <v-btn color="primary" :disabled="!startdate||!enddate||!machinesselected.length||!employeesselected.length" @click="handleSchedule">排班</v-btn>
              </v-card-actions>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="6">
        <v-card height="calc(100vh - 150px)">
          <v-data-table
            :headers="headers"
            :items="schedulelist"
            :items-per-page="20"
            class="elevation-1"
            height="calc(100vh - 290px)">
          >
          </v-data-table>
          <v-row class="mt-3">
            <v-spacer></v-spacer>
            <v-col cols="2">
              <v-card-actions>
                <v-btn @click="resetTable">重置</v-btn>
              </v-card-actions>
            </v-col>
            <v-col cols="2">
              <v-card-actions>
                <v-btn color="primary" :disabled="!schedulelist.length" @click="submit">提交</v-btn>
              </v-card-actions>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
// import socketioclient from 'socket.io-client';
import moment from 'moment';
import ServiceFactory from '../service/ServiceFactory';
import { Toast } from 'vant';
const { ElementsService } = ServiceFactory;
import { mapMutations } from 'vuex';
const datetimestemp = new Date().getTime() + 1000*60*60*24;

export default {
  name: 'StartSchedule',
  data (){
    return {
      startdate: moment(datetimestemp).format('YYYY-MM-DD'),
      enddate: moment(datetimestemp).format('YYYY-MM-DD'),
      machinelist: [],
      employeelist: [],
      machinesselected: [],
      employeesselected: [],
      schedulelist: [],
      headers: [
        { text: '日期', value: 'scheduledate' },
        { text: '设备', value: 'machinename' },
        { text: '人员', value: 'employeename' },
      ],
    }
  },
  created() {
    this.getMachieList();
    this.getEmployeeList();
  },
  methods: {
    ...mapMutations({
      setloading: 'helper/SET_lOADING',
    }),
    handleSchedule() {
      const { startdate, enddate, machinesselected, employeesselected, employeelist } = this;
      const datelist = this.getYearAndMonthAndDay(startdate, enddate);
      console.log(datelist, 'daylist');
      const schedulelist = [];
      datelist.forEach(scheduledate => {
        machinesselected.forEach(machinename => {
          employeesselected.forEach(employeeid => {
            schedulelist.push({
              scheduledate, machinename, employeeid, employeename:employeelist.find(item => item.employeeid === employeeid).employeename
            });
          });
        })
      });
      console.log(schedulelist);
      this.schedulelist = schedulelist;
    },
    async getMachieList() {
      this.setloading(true);
      const { data, status } = await ElementsService.getElement('machine',13,13)
        console.log(data, 'data');
        if (status === 200 && !data.Error) {
          const { results } = data;
          if (results.length > 0) {
            this.machinelist = results.map(item => item.machinename);
          } else {
            this.machinelist = [];
          }
        } else {
          Toast.fail(this.$t('alert.errorinfo'));
        }
        this.setloading(false);
    },
    async getEmployeeList() {
      this.setloading(true);
      const { data, status } = await ElementsService.getElement('employee',13,13)
      console.log(data, 'data');
      if (status === 200 && !data.Error) {
        const { results } = data;
        if (results.length > 0) {
          this.employeelist = results;
        } else {
          this.getEmployeeList = [];
        }
      } else {
        Toast.fail(this.$t('alert.errorinfo'));
      }
      this.setloading(false);
    },
    async submit() {
      const { schedulelist } = this;
      this.setloading(true);
      const postData = schedulelist.map(item => ({...item, siteName: 'zhaohua'}));
      const { data, status } = await ElementsService.postElementMultiple('shiftleaderschedule',13,13,postData)
      if (status === 200 && !data.Error) {
        this.schedulelist = [];
        Toast.success('提交成功');
      } else {
        Toast.fail(this.$t('alert.errorinfo'));
      }
      this.setloading(false);
    },
    resetCheckbox() {
      this.machinesselected = [];
      this.employeesselected = [];
      this.startdate = moment(datetimestemp).format('YYYY-MM-DD');
      this.enddate = moment(datetimestemp).format('YYYY-MM-DD');
    },
    resetTable() {
      this.schedulelist = [];
    },
    getYearAndMonthAndDay(start,end){
        let date_all=[],i=0;
        const startTime = this.getDate(start);
        const endTime = this.getDate(end);
        while((endTime.getTime()-startTime.getTime())>=0){
          const year = startTime.getFullYear();
          const month = (startTime.getMonth()+1).toString().length==1?"0"+(startTime.getMonth()+1).toString():(startTime.getMonth()+1).toString();
          const day = startTime.getDate().toString().length==1?"0"+startTime.getDate():startTime.getDate();
          date_all[i]=year+"-"+month+"-"+day;
          startTime.setDate(startTime.getDate()+1);
          i+=1;
        }
        return date_all;
    },
    getDate(datestr){
        const temp = datestr.split("-");
        return new Date(temp[0],temp[1]-1,temp[2]);
    }
  },
}
</script>
