<template>
  <v-app>
    <Header/>
    <v-main>
      <v-card height="100%" class="pa-2 text-body-2">
        <router-view></router-view>
      </v-card>
    </v-main>
    <Loading/>
    <Setting/>
  </v-app>
</template>

<script>
import Header from './components/Header';
import Loading from './components/Loading';
import Setting from './components/Setting';

export default {
  name: 'App',
  components: {
    Header,
    Loading,
    Setting,
  },
  data () {
      return {
      }
  },
};
</script>
<style lang="scss" scoped>
</style>
